@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton,
.skeleton-image {
  background-color: hsl(200deg 10% 50%);
  animation: skeleton-animation 1s infinite forwards alternate;
}
@keyframes skeleton-animation {
  to {
    background-color: hsl(200deg 20% 95%);
  }
}
